{{!< default}}

<div class="container">
    {{#post}}
        {{> post-content}}
    {{/post}}
    <section class="post-comments">
        <div class="ds-thread"></div>
    </section>
</div>


<!-- 多说公共JS代码 start -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"lifesign"};
        (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
           || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
</script>
<!-- 多说公共JS代码 end -->